/* место для вашего кода */

.header {
  margin: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 3.9fr 0.9fr 3.9fr;
}

.header__links-list {
  display: flex;
  align-items: center;
}

.header__links-list-main {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* Элементы списка ссылок без маркеров */
.header__links-list-item,
.header__links-list-item_no-bullit {
  display: list-item;
  list-style-type: none;
}

/* Стили для всех ссылок в шапке */

.header__link_active,
.header__link {
  text-decoration: none;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Стили для ссылок на разделы в шапке с добавление маркера */

.header__link {
  display: list-item;
  list-style-type: circle;
  border-bottom: 1px solid black;
}

/* Контейнер для логотипа */

.header__logo {
  display: grid;
  align-content: start;
  width: 138px;
  height: 105px;
}

.header__logo-image {
  display: block;
  align-content: start;
}

.header__address {
  display: flex;
  align-items: center;
  justify-content: end;
}

.contacts-element {
  width: 240px;
  padding-right: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}

.mail-address,
.phone-address {
  text-decoration: none;
  display: flex;
  align-self: flex-start;
  border-bottom: 0.5px solid black;
}

.city-address-first {
  display: flex;
  align-self: flex-start;
}

/* Секция обложки */

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

/* Полупрозрачное наложение поверх фона, но под контентом */

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cover__title {
  z-index: 2;
  padding-top: 165px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  text-transform: uppercase;
  row-gap: 19px;
  grid-template-areas:
    "start start start"
    "center center center"
    "end end end";
}

.aligned-text_right,
.aligned-text_center,
.aligned-text {
  color: #fff;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
}

/* Стили для текста с выравниванием по левому краю */

.aligned-text {
  text-align: start;
  grid-area: start;
  line-height: 115%;
  margin: 0px 50px;
}

/* Стили для текста с выравниванием по левому краю */

.aligned-text_center {
  line-height: 100%;
  text-align: center;
  grid-area: center;
  margin: 0px 95px 0px 65px;
  justify-self: center;
}

.aligned-text_right {
  line-height: 0.7;
  text-align: end;
  grid-area: end;
  margin: 0px 50px 0px 50px;
}

.new-letter-spacing {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

/* Блок описания под обложкой  */

.cover__description {
  display: flex;
  justify-content: space-between;
  margin: 105px 50px 0px 50px;
  padding-bottom: 50px;
}

/* Стилии для текста описания и кнопки  */

.bet-button,
.cover__description-text {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.27;
  text-transform: uppercase;
}

.cover__description-text {
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: 0px;
  word-spacing: 17px;
  text-align: left;
}

.bet-button {
  display: flex;
  padding: 12px 32px;
  border: 1px solid #ffffff;
  background: none;
}

.lots {
  margin: 180px 50px 0px 50px;
  flex-shrink: 0;
}

/* Заголовок секции карточек  */

.lots__heading {
  margin-left: 40px;
  margin-bottom: 27px;
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

/* Список карточек, пространство между ними перенос на следующую строку  */

.lots__card-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Ссылка в карточке с подчеркиванием  */

.card-link {
  text-decoration: none;
  display: block;
  height: 100%;
}

/* Общие стили карточек с отображением поверх фона */

.card {
  z-index: 2;
  flex-grow: 1;
  max-width: 430px;
  min-height: 650px;
  height: auto;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

/* Заголовок карточки с подчеркиванием и в верхнем регистре */

.card__title {
  color: #fff;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-decoration-skip-ink: none;
}

/* Текст для карточек */

.card__text {
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  justify-content: space-around;
}

/* Ссылка посмотреть больше под карточками */

.lots__look-more-link {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
  margin-left: 40px;
  text-decoration: none;
}

.lots__look-more-link-text {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.about {
  margin: 180px 50px 184px 50px;
}

/* Секция о нас, делится на 2 колонки */

.about__column {
  display: grid;
  grid-template-columns: 430px 1fr;
}

/* Строго указал размеры блока, для формирования черного круга нужного размера */

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  background-color: #000;
  justify-self: center;
}

/* Строго указаны размеры, так как это класс, относящийся к логотипу */

.about__logo-image {
  display: grid;
  width: 148px;
  height: 114px;
  align-self: center;
  margin-left: 46px;
}

.about__title-and-text-wrapper {
  margin: 101px 0px 0px 25px;
  display: grid;
  row-gap: 30px;
}

.about__title {
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.about__text {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.15;
}

footer {
  margin: 0px 50px 90px 50px;
  display: flex;
  justify-content: space-between;
}

.footer__menu {
  display: grid;
  align-content: start;
  justify-items: center;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-link {
  display: grid;
  align-self: center;
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-skip-ink: none;
}

.footer__menu-link_active {
  text-decoration: none;
  border-bottom: none;
}

/* В элементе заданы значения ширины для всех иконок социальной сети,
чтобы не задавать отдельно для каждой.
*/

.footer__social-list {
  list-style-type: none;
  display: flex;
  gap: 48px;
}

.footer__social-list-item-logo {
  width: 48px;
}